h1 {
    margin-top: 20px;
    text-transform: capitalize;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    font-size: 11px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 120px;

}

.container {
    background: linear-gradient(to right bottom, #b78cf7, #a9f1df, #ffbbbb, #ffcf0d) ;
    border: 1px solid #7e7e7e;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.search-input {
    width: 25rem;
    font-size: 1.25rem; 
    border-color:#cccccc; 
    border-style:solid; 
    border-radius:1.25rem; 
    border-width:1px; 
    text-shadow:0px 0px 0px rgba(42,42,42,.100); 
    box-shadow: 2px 0px 4px 0px rgba(160,147,204,.52); 
    padding: 0.4em 1em;
}

.search-input:focus {
    outline: none;
}

.search-button, .location-button {
    cursor: pointer;
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 700;
    color: #b78cf7;
    background-color: aliceblue;
    padding: 0.4em 1em;
    border: 0;
    border-radius: 1.25rem;
}


.descr {
    text-transform: capitalize;
}

#weather-icon {
    width: 90px;
    height: 90px;
}

#fahr, #celc {
    color: black;
    text-decoration: none;
    cursor: default;
}

#fahr:hover, #celc:hover {
    color: #7e7e7e;
    cursor: pointer;
}

.weekly-forecast {
    margin-top: 20px;
    text-align: center;
}

.day-temp-min {
    opacity: 0.5;
}